@model Post

<form asp-action="CreatePost" asp-controller="Posts" method="post">
    <input asp-for="UserId" type="hidden" value="@ViewBag.userId">
    <span asp-validation-for="UserId"></span>
    <textarea asp-for="Content" class="form-control"></textarea>
    <span asp-validation-for="Content" class="form-text text-primary"></span>
    <div class="d-flex justify-content-end mt-3">
        <input type="submit" value="POST" class="btn btn-outline-primary">
    </div>
</form>